# Ignore system and app data directories
AppData/
Application Data/
Cookies/
Documents/
Local Settings/
My Documents/
My Music/
My Pictures/
My Videos/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
node_modules/